html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#main{
    margin-left: 0;
    margin-right:0;
}

.customer-list-closeButton{
    color:#dc3545 ;
}



